@import 'variables';

.live-tracker-header {
  height: 165px;
  &::before {
    content: '';
    position: absolute;
    z-index: -500;
    width: 100%;
    height: 225px;
    top: 0;
    left: 0;
    background-image: url('/assets/img/backgrounds/shield.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(3px) brightness(30%);
    -moz-filter: blur(3px) brightness(30%);
    -o-filter: blur(3px) brightness(30%);
    -ms-filter: blur(3px);
    filter: blur(3px) brightness(30%);
  }
  .live-tracker-tabs {
    .nav-link {
      letter-spacing: .5em;
      text-transform: uppercase;
      font-weight: bolder;
      border-bottom: 1px solid $secondary;
      margin-right: .25rem;
      &:hover {
        border-bottom: 1px solid $primary;
        color: $primary !important;
      }
      &.active {
        border-bottom: 1px solid $primary;
        color: $primary !important;
      }
    }
  }
}

.tracker-dl {
  margin-bottom: 0;
  dl {
    margin-bottom: 0;
  }
}

.ngx-charts {
  .legend-title-text {
    color: $gray-600;
  }
  text {
    fill: $gray-600 !important;
    font-family: $font-family-sans-serif;
  }
}
