<div class="container">
  <div class="row mt-4">
    <div class="col-sm-4">
      <div ngbDropdown>
        <button class="btn btn-block btn-outline-primary" id="regionDropdown" ngbDropdownToggle>Region: {{region.toUpperCase()}}</button>
        <div ngbDropdownMenu aria-labelledby="regionDropdown">
          <button (click)="changeRegion('ncsa')" class="dropdown-item">NCSA</button>
          <button (click)="changeRegion('emea')" class="dropdown-item">EMEA</button>
          <button (click)="changeRegion('apac')" class="dropdown-item">APAC</button>
        </div>
      </div>
      <div class="mt-4">
        <app-player-rank [rank]="player.rank" [region]="region"></app-player-rank>
      </div>
      <div class="mt-4">
        <app-previous-ranks [seasons]="seasons" [region]="region"></app-previous-ranks>
      </div>
    </div>
    <div class="col-sm-8">
      <app-player-general [generalStats]="player.stats.general"></app-player-general>
      <div class="row mt-4">
        <div class="col-sm-6">
          <app-player-queue queueName="Casual" [queue]="player.stats.queue.casual"></app-player-queue>
        </div>
        <div class="col-sm-6">
          <app-player-queue queueName="Ranked" [queue]="player.stats.queue.ranked"></app-player-queue>
        </div>
      </div>
      <div class="mt-4" *ngIf="false">
        <app-player-modes></app-player-modes>
      </div>
    </div>
  </div>
</div>
