<div class="card mb-1">
  <div class="card-body p-2">
    <small>
      <div class="row text-center">
        <div class="col">
          <img class="d-inline-block float-left mr-3"
               src="assets/operators/{{operator.strippedName.toLowerCase()}}.svg"
               style="height: 32px;"/>
          <span class="d-inline-block m-0" [innerHTML]="operator.name"></span>
          <span class="d-block text-uppercase text-muted" [innerHTML]="operator.type"></span>
        </div>
        <div class="col">
          <span class="d-block stat" [innerHTML]="operator.kills || 0"></span>
          <span class="d-block text-uppercase text-muted">Kills</span>
        </div>
        <div class="col">
          <span class="d-block stat" [innerHTML]="operator.deaths || 0"></span>
          <span class="d-block text-uppercase text-muted">Deaths</span>
        </div>
        <div class="col">
          <span class="d-block stat" [innerHTML]="operator.kdRatio.toFixed(2) || 0"></span>
          <span class="d-block text-uppercase text-muted">K/D Ratio</span>
        </div>
        <div class="col">
          <span class="d-block stat" [innerHTML]="operator.won || 0"></span>
          <span class="d-block text-uppercase text-muted">Wins</span>
        </div>
        <div class="col">
          <span class="d-block stat" [innerHTML]="operator.lost || 0"></span>
          <span class="d-block text-uppercase text-muted">Losses</span>
        </div>
        <div class="col">
          <span class="d-block stat" [innerHTML]="(operator.wlRatio).toFixed(2)+'%' || 0 +'%'"></span>
          <span class="d-block text-uppercase text-muted">Win %</span>
        </div>
        <div class="col">
          <span class="d-block stat" [innerHTML]="(operator.timePlayed / 60 / 60).toFixed(2) || 0"></span>
          <span class="d-block text-uppercase text-muted">Hours</span>
        </div>
      </div>
    </small>
  </div>
</div>
