<div class="card player-stats-queue">
  <div class="card-header">
    <span class="m-0 d-block" [innerHTML]="queueName"></span>
    <small class="text-muted" [innerHTML]="queue.played + ' played'"></small>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <small>
        <span class="text-muted float-left">Wins</span>
        <span class="float-right" [innerHTML]="queue.won || 0"></span>
      </small>
    </li>
    <li class="list-group-item">
      <small>
        <span class="text-muted float-left">Losses</span>
        <span class="float-right" [innerHTML]="queue.lost || 0"></span>
      </small>
    </li>
    <li class="list-group-item">
      <small>
        <span class="text-muted float-left">Win Percent</span>
        <span class="float-right" [innerHTML]="((queue.won / queue.played) * 100).toFixed(2) + '%'"></span>
      </small>
    </li>
    <li class="list-group-item">
      <small>
        <span class="text-muted float-left">Kills</span>
        <span class="float-right" [innerHTML]="queue.kills || 0"></span>
      </small>
    </li>
    <li class="list-group-item">
      <small>
        <span class="text-muted float-left">Deaths</span>
        <span class="float-right" [innerHTML]="queue.deaths || 0"></span>
      </small>
    </li>
    <li class="list-group-item">
      <small>
        <span class="text-muted float-left">K/D Ratio</span>
        <span class="float-right" [innerHTML]="(queue.kills / queue.deaths).toFixed(2)"></span>
      </small>
    </li>
    <li class="list-group-item">
      <small>
        <span class="text-muted float-left">Hours</span>
        <span class="float-right" [innerHTML]="(queue.timePlayed / 60 / 60).toFixed(0) || 0"></span>
      </small>
    </li>
  </ul>
</div>
