/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';
.alert {
  border: none;
  color: $white;

  a,
  .alert-link {
    color: #fff;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      background-color: $value;
    }
  }
}
.card {
  .card-header {
    background-color: $gray-800;
    span {
      font-size: 1.3rem;
      display: inline-block;
    }
  }
}
.player-stats-general {
  .stat {
    padding-bottom: .5rem;
    span {
      display: block;
      font-size: 1.25rem;
    }
    small {
      color: $gray-600;
    }
  }
}
body,html{
  height:100%;
}

.pointer {
  cursor: pointer;
}
