<div class="card player-stats-general">
  <div class="card-header">
    <span class="m-0">General</span>
  </div>
  <div class="card-body">
    <div class="row text-center">
      <div class="col">
        <div class="stat">
          <span class="mb-0 text-white" [innerHTML]="generalStats.won || 0"></span>
          <small class="text-uppercase">Wins</small>
        </div>
        <div class="stat">
          <span class="mb-0 text-white" [innerHTML]="generalStats.lost || 0"></span>
          <small class="text-uppercase">Losses</small>
        </div>
      </div>
      <div class="col">
        <div class="stat">
          <span class="mb-0 text-white" [innerHTML]="generalStats.kills || 0"></span>
          <small class="text-uppercase">Kills</small>
        </div>
        <div class="stat">
          <span class="mb-0 text-white" [innerHTML]="generalStats.deaths || 0"></span>
          <small class="text-uppercase">Deaths</small>
        </div>
      </div>
      <div class="col">
        <div class="stat">
          <span class="mb-0 text-white" [innerHTML]="generalStats.assists || 0"></span>
          <small class="text-uppercase">Assists</small>
        </div>
        <div class="stat">
          <span class="mb-0 text-white" [innerHTML]="generalStats.meleeKills || 0"></span>
          <small class="text-uppercase">Melee Kills</small>
        </div>
      </div>
      <div class="col">
        <div class="stat">
          <span class="mb-0 text-white" [innerHTML]="generalStats.dbno"></span>
          <small class="text-uppercase">DBNO</small>
        </div>
        <div class="stat">
          <span class="mb-0 text-white" [innerHTML]="generalStats.headshot"></span>
          <small class="text-uppercase">Headshots</small>
        </div>
      </div>
      <div class="col">
        <div class="stat">
          <span class="mb-0 text-white" [innerHTML]="((generalStats.won / generalStats.played) * 100).toFixed(2) + '%'"></span>
          <small class="text-uppercase">Win %</small>
        </div>
        <div class="stat">
          <span class="mb-0 text-white" [innerHTML]="(generalStats.kills / generalStats.deaths).toFixed(2)"></span>
          <small class="text-uppercase">K/D ratio</small>
        </div>
      </div>
      <div class="col">
        <div class="stat">
          <span class="mb-0 text-white" [innerHTML]="((generalStats.headshot / generalStats.kills) * 100).toFixed(2) + '%'"></span>
          <small class="text-uppercase">Headshot %</small>
        </div>
        <div class="stat">
          <span class="mb-0 text-white" [innerHTML]="(generalStats.timePlayed / 60 / 60).toFixed(0)"></span>
          <small class="text-uppercase">Hours</small>
        </div>
      </div>
    </div>
  </div>
</div>
