<div class="container h-100 search">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-sm-6 mx-auto">
      <div class="input-group">
        <input #user type="text" class="form-control border-secondary form-control-lg bg-secondary text-white"
               placeholder="Search for a player..." (keyup.enter)="search(user.value)"/>
        <div class="input-group-append">
          <button class="btn btn-lg btn-primary" (click)="search(user.value)">Search</button>
        </div>
      </div>
      <div class="card bg-warning mt-2" *ngIf="notFound">
        <div class="card-body p-2">
          <small>User not found</small>
        </div>
      </div>
      <div class="text-center mt-4">
        <button class="btn btn-white" href="javascript:void(0)" [routerLink]="['/live']">Live Tracker<span class=" ml-2 badge badge-primary">ALPHA</span></button>
      </div>
    </div>
  </div>
</div>
