.search {
  &::before {
    content: '';
    position: absolute;
    z-index: -500;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('assets/backgrounds/maestro.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(3px) brightness(30%);
    -moz-filter: blur(3px) brightness(30%);
    -o-filter: blur(3px) brightness(30%);
    -ms-filter: blur(3px);
    filter: blur(3px) brightness(30%);
  }
}
