<div class="row" *ngIf="rank">
  <div class="col-sm-4">
    <img class="w-100 d-inline-block" src="assets/img/ranks/{{max ? maxRank : currentRank}}.svg"/>
  </div>
  <div class="col-sm-8 d-flex">
    <div class="align-self-center w-100" [ngClass]="{'text-center' : !max}">
      <small class="d-block" *ngIf="season" [innerHTML]="'Season ' + season"></small>

      <small *ngIf="!max" class="d-inline-block align-top text-danger mr-3 mt-1"
             [innerHTML]="'-' + nextPrevious.previous.mmr.toFixed(1)"></small>
      <div class="d-inline-block" [ngClass]="{'text-left' : !max}">
        <h5 class="d-inline-block text-white mb-0" [innerHTML]="rankMap[max ? maxRank : currentRank]"></h5>
        <small class="d-block text-muted"
               [innerHTML]="'MMR: ' + (max ? maxMMR.toFixed(0) : currentMMR.toFixed(2))"></small>
        <small class="d-block text-muted"
               [innerHTML]="rank[region].wins + ' wins ' + rank[region].losses + ' losses'"></small>
      </div>
      <small *ngIf="!max" class="d-inline-block align-top text-success ml-3 mt-1"
             [innerHTML]="'+' + nextPrevious.next.mmr.toFixed(1)"></small>
    </div>
  </div>
</div>

