@import 'variables';

.season-1 {
  border-left: 4px solid $blackice;
  border-radius: 5px;
  .season-name {
    color: $blackice;
    &::after {
      content: 'Black Ice';
    }
  }
}

.season-2 {
  border-left: 4px solid $dustline;
  border-radius: 5px;
  .season-name {
    color: $dustline;
    &::after {
      content: 'Dust Line';
    }
  }
}

.season-3 {
  border-left: 4px solid $skullrain;
  border-radius: 5px;
  .season-name {
    color: $skullrain;
    &::after {
      content: 'Skull Rain';
    }
  }
}

.season-4 {
  border-left: 4px solid $redcrow;
  border-radius: 5px;
  .season-name {
    color: $redcrow;
    &::after {
      content: 'Red Crow';
    }
  }
}

.season-5 {
  border-left: 4px solid $velvetshell;
  border-radius: 5px;
  .season-name {
    color: $velvetshell;
    &::after {
      content: 'Velvet Shell';
    }
  }
}

.season-6 {
  border-left: 4px solid $ophealth;
  border-radius: 5px;
  .season-name {
    color: $ophealth;
    &::after {
      content: 'Op Health';
    }
  }
}

.season-7 {
  border-left: 4px solid $bloodorchid;
  border-radius: 5px;
  .season-name {
    color: $bloodorchid;
    &::after {
      content: 'Blood Orchid';
    }
  }
}

.season-8 {
  border-left: 4px solid $whitenoise;
  border-radius: 5px;
  .season-name {
    color: $whitenoise;
    &::after {
      content: 'White Noise';
    }
  }
}

.season-9 {
  border-left: 4px solid $chimera;
  border-radius: 5px;
  .season-name {
    color: $chimera;
    &::after {
      content: 'Chimera';
    }
  }
}

.season-10 {
  border-left: 4px solid $parabellum;
  border-radius: 5px;
  .season-name {
    color: $parabellum;
    &::after {
      content: 'Parabellum';
    }
  }
}

.season-11 {
  border-left: 4px solid $grimsky;
  border-radius: 5px;
  .season-name {
    color: $grimsky;
    &::after {
      content: 'Grim Sky';
    }
  }
}

