<div class="row" *ngIf="rank">
  <div class="col-sm-4">
    <img class="w-100 d-inline-block" src="assets/ranks/{{max ? maxRank : currentRank}}.svg"/>
  </div>
  <div class="col-sm-8 d-flex">
    <div class="align-self-center w-100">
      <small *ngIf="season" [innerHTML]="'Season ' + season"></small>
      <h5 class="text-white" [innerHTML]="rankMap[max ? maxRank : currentRank]"></h5>
      <small class="d-block text-muted" [innerHTML]="'MMR: ' + max ? maxMMR.toFixed(2) : currentMMR.toFixed(2)"></small>
    </div>
  </div>
</div>
