<div class="container">
  <div class="card no-box-shadow mb-1">
    <div class="card-body p-2">
      <small>
        <div class="row text-center flex">
          <div class="col">
            <input (input)="filterList($event.target.value)" class="form-control border-secondary bg-secondary text-white" placeholder="Find" />
          </div>
          <div class="col  align-self-center w-100">
            <a href="javascript:void(0)" class="d-block text-uppercase text-muted" (click)="sortBy('kills')">Kills</a>
          </div>
          <div class="col align-self-center w-100">
            <a href="javascript:void(0)" class="d-block text-uppercase text-muted" (click)="sortBy('deaths')">Deaths</a>
          </div>
          <div class="col align-self-center w-100">
            <a href="javascript:void(0)" class="d-block text-uppercase text-muted" (click)="sortBy('kdRatio')">K/D Ratio</a>
          </div>
          <div class="col align-self-center w-100">
            <a href="javascript:void(0)" class="d-block text-uppercase text-muted" (click)="sortBy('won')">Wins</a>
          </div>
          <div class="col align-self-center w-100">
            <a href="javascript:void(0)" class="d-block text-uppercase text-muted" (click)="sortBy('lost')">Losses</a>
          </div>
          <div class="col align-self-center w-100">
            <a href="javascript:void(0)" class="d-block text-uppercase text-muted" (click)="sortBy('wlRatio')">Win %</a>
          </div>
          <div class="col align-self-center w-100">
            <a href="javascript:void(0)" class="d-block text-uppercase text-muted" (click)="sortBy('timePlayed')">Hours</a>
          </div>
        </div>
      </small>
    </div>
  </div>

  <div *ngFor="let operator of operatorsArray | filterByName: filter">
    <app-player-operator [operator]="operator"></app-player-operator>
  </div>
</div>
