<div class="live-header">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-12 text-center">
        <h2 class="text-muted">Tracked Sessions</h2>
      </div>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="card-deck">
    <div class="row w-100">
      <div class="col-sm-4 mb-3" *ngFor="let details of trackers">
        <div class="card pointer h-100">
          <div class="card-body d-flex flex-column">
            <div class="mb-2" [routerLink]="['/live', details.id]">
              <h5 class="mb-0" [innerHTML]="details.name"></h5>
              <small class="text-muted d-block">Created: {{details.timestamp}}</small>
              <small class="text-muted d-block mb-2">Last Update: {{details.lastUpdate}}</small>
              <span>Players</span>
              <small class="text-muted d-block" *ngFor="let players of details.players">{{players.name}}</small>
            </div>
            <button class="btn btn-danger mt-auto btn-block" (click)="deleteTracker(details.id)">Delete Tracker</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3">
        <div class="card h-100 d-flex pointer mb-3" (click)="createTrackerDetails()">
          <div class="card-body align-items-center d-flex justify-content-center">
            <fa-icon [icon]="plusIcon" size="6x"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Learn About Live Tracking
  </button>
  <div class="mt-3" [ngbCollapse]="isCollapsed">
    <ngb-alert [dismissible]="false" type="dark">
      <strong class="d-block h4">About Live Tracking</strong>
      <span
        class="d-block mb-2">Click the plus sign to create a new session. A session consists of a group of players.</span>
      <span class="d-block mb-2">The data will automatically be updated each time you visit the tracker and every 10 minutes while having the tracker open.</span>
      <span class="d-block mb-2">You can manually update the tracker hitting update from the live tracker's page.</span>
      <span class="d-block mb-2">In order for the game to game to game statistics to properly display in the graph, an update must occur after each game and prior to the next
        game ending. The 10 minute auto refresh should make sure the data stays in sync if the tracker page is left open.
        If this becomes out of sync, you will see times when 1 game on the graph actually has stats from several games.
        </span>
      <span class="d-block">If a player sits out a game, the game chart will be off for that player. I am looking in to a way to timestamp each game
          so that this data mismatch does not occur and they are simply counted for 0 in each stat for the game.</span>

    </ngb-alert>
  </div>
</div>
